.whiteboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
}

.whiteboard-header {
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #333;
    text-align: center;
}

.whiteboard-header p {
    font-size: 18px;
    color: #666;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.control-button {
    padding: 5px 10px; /* Smaller buttons */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.control-button:hover {
    background-color: #0056b3;
}

.color-picker, .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.room-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.whiteboard {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
